@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ChangePasswordModel

<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card mb-4 mb-xl-0">
            <div class="card-header">
                <h4>Login</h4>
            </div>
            <div class="card-body">
                @using (Html.BeginForm(FormMethod.Post, new { @id = "frmLogin" }))
                {
                    @await Html.PartialAsync("Partial/_ValidationSummary")

                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m=> m.UserId)
                    <div class="mb-4">
                        @Html.LabelFor(m=> m.OldPassword, new { @class = "form-label" })
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "****" })
                    </div>
                    <div class="mb-4">
                        @Html.LabelFor(m=> m.NewPassword, new { @class = "form-label" })
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "****" })
                    </div>
                    <div class="mb-4">
                        @Html.LabelFor(m=> m.ConfirmPassword, new { @class = "form-label" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "****" })
                    </div>
                    <div class="d-grid mb-3">
                        <input type="submit" class="btn btn-success text-white" value="Change Password" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>