@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ChangePasswordModel

<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="shadow mb-5 bg-body rounded">
            <div class="card">
                <div class="card-header">
                    <h4>Login</h4>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm(FormMethod.Post, new { @id = "frmLogin" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m=> m.UserId)
                        <div class="mb-4">
                            @Html.LabelFor(m=> m.OldPassword, new { @class = "form-label" })
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        </div>
                        <div class="mb-4">
                            @Html.LabelFor(m=> m.NewPassword, new { @class = "form-label" })
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                        <div class="mb-4">
                            @Html.LabelFor(m=> m.ConfirmPassword, new { @class = "form-label" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                        <div class="d-grid">
                            <input type="submit" class="btn btn-success text-white" value="Change Password" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>