@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LoginModel
@{
}

<div class="justify-content-center d-flex">
    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card mb-4 mb-xl-0">
            <div class="card-header">
                <h4>Login</h4>
            </div>
            <div class="card-body">
                @using(Html.BeginForm(FormMethod.Post, new {@id="frmLogin"}))
                {
                    @await Html.PartialAsync("Partial/_ValidationSummary")

                    @Html.AntiForgeryToken()
                    <div class="form-floating mb-3">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder="User name" })
                        @Html.LabelFor(m=> m.Username)
                    </div>
                        <div class="form-floating mb-3">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder="Password" })
                        @Html.LabelFor(m=> m.Password)
                    </div>        
                    <div class="d-grid mb-3">
                        <input type="submit" class="btn btn-primary" value="Login" />                
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        Don't have an account? &nbsp; @Html.ActionLink("Sign Up", "register", "home", null, new { @class = "fw-bold text-body"})
                    </div>
                }
            </div>
        </div>
    </div>
</div>