@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model RegisterModel

<div>
    @using (Html.BeginForm(FormMethod.Post, new { @id = "frmRegister" }))
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.LabelFor(m=> m.Email, new { @class = "form-control-label" })
            <div>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div>
            @Html.LabelFor(m=> m.Username, new { @class = "form-control-label" })
            <div>
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
            </div>
        </div>
        <div>
            @Html.LabelFor(m=> m.Password, new { @class = "form-control-label" })
            <div>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div>
            @Html.LabelFor(m=> m.ConfirmPassword, new { @class = "form-control-label" })
            <div>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Register" />
        </div>
    }
</div>
