@inject Web.User.Helpers.ViewHelper viewHelper
@{
    bool isUserLoggedIn = viewHelper.IsLoggedIn(User);
    var roleType = viewHelper.GetUserRole(User);
    var activeLinkData = ViewData["ActiveLink"];
    string activeLink = "none";
    if(activeLinkData != null)
    {
        activeLink = activeLinkData?.ToString() ?? "none";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin.site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.User.styles.css" asp-append-version="true" />
</head>
<body>
    
    <div class="">
        <main class="d-flex min-vh-100">
            <aside class="navbar justify-content-start flex-column col-2 border-end align-items-start">
                <div class="branding d-flex px-4 col-12 pt-1 border-bottom">
                    <span>
                        <img id="map-icon" src="~/images/map_icon.svg" class="align-top me-2" />
                        <a class="navbar-brand text-wrap" asp-area="" asp-controller="Admin" asp-action="Index">GeoSense Admin</a>
                    </span>
                </div>
                <nav class="panel-menu d-block col-12 pt-2">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a asp-controller="Admin" asp-action="Index" class="d-flex flex-row w-100 align-items-center ps-4 py-2 @viewHelper.GetActiveLink(activeLink, "Home")">
                                <i class="fa-solid fa-home d-inline-block col-1"></i><span class="col-9 ms-2">Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Admin" asp-action="Dashboard" class="d-flex flex-row w-100 align-items-center ps-4 py-2 @viewHelper.GetActiveLink(activeLink, "Dashboard")">
                                <i class="fa-solid fa-chart-line d-inline-block col-1"></i><span class="col-9 ms-2">Dashboard</span>
                            </a>
                        </li>
                    </ul>
                    <span class="ps-3 link-header">Management</span>
                    <ul class="nav flex-column pt-2">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Admin" asp-action="Partners" class="d-flex flex-row w-100 align-items-center ps-4 py-2 @viewHelper.GetActiveLink(activeLink, "Partners")">
                                <i class="fa-solid fa-briefcase d-inline-block col-1"></i><span class="col-9 ms-2">Partners</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Admin" asp-action="Groups" class="d-flex flex-row w-100 align-items-center ps-4 py-2 @viewHelper.GetActiveLink(activeLink, "Groups")">
                                <i class="fa-solid fa-user-group d-inline-block col-1"></i><span class="col-9 ms-2">Groups</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Admin" asp-action="Users" class="d-flex flex-row w-100 align-items-center ps-4 py-2 @viewHelper.GetActiveLink(activeLink, "Users")">
                                <i class="fa-solid fa-users d-inline-block col-1"></i><span class="col-9 ms-2">Users</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </aside>
            <section class="d-flex flex-column flex-nowrap col-10">
                <header>
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                        <div class="container-fluid">
                            <div class="collapse d-sm-inline-flex justify-content-end ms-auto">
                                @if (isUserLoggedIn)
                                {
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a asp-controller="Admin" asp-action="Settings" class="btn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Settings">
                                                <i class="fa-solid fa-gear"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item pe-3">
                                            <span class="btn position-relative" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Settings">
                                                <span class="position-absolute d-inline badge rounded-pill bg-danger">
                                                    99+
                                                    <span class="visually-hidden">unread messages</span>
                                                </span>
                                                <i class="fa-solid fa-bell"></i>                                                
                                            </span>
                                        </li>                                        
                                    </ul>
                                    <div class="dropdown input-group">
                                        <label class="btn btn-outline-secondary">
                                            <i class="fa-solid fa-user"></i> @viewHelper.GetFullName(User, Context)
                                        </label>
                                        <a class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="visually-hidden">Toggle Dropdown</span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="profile"><i class="fa-solid fa-user-gear"></i> Profile</a></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="changepassword"><i class="fa-solid fa-key"></i> Change Password</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="logout"><i class="fa-solid fa-power-off"></i> Logout</a></li>
                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    if (viewHelper.ShouldShowLoginRegisterLinks(Context))
                                    {
                                        <ul class="navbar-nav">
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login"><i class="fa-solid fa-right-to-bracket"></i> Log In</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register"><i class="fa-solid fa-user-plus"></i> Register</a>
                                            </li>
                                        </ul>
                                    }
                                }
                            </div>
                        </div>
                    </nav>
                </header>
                <section>
                    <div>
                        <main role="main" class="pb-3">
                            <div class="container">
                                @RenderBody()
                            </div>
                        </main>
                    </div>
                </section>
                <footer class="mt-auto border-top footer text-muted">
                    <div class="container">
                        &copy; 2023 - Web.User - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>
                </footer>
            </section>
        </main>        
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
